# Disallow all HTTP methods other than GET, POST and HEAD
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)
RewriteRule .* - [R=405,L]

# Cache media files for one week
<FilesMatch "\.(js|css|gif|jpg|jpeg|png|ico)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>

# Enable URL rewriting
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^m\.ballmanager\.de$ [NC]
RewriteRule ^images/Refresh\.php$ images/RefreshMobile.php [NC,L]

RewriteCond %{HTTP_HOST} ^ballmanager\.de$ [NC]
RewriteRule ^(.*)$ http://www.ballmanager.de/$1 [NC,R=301,L]